{% layout 'layout.liquid' %}

{% block content %}
    
    <div class="container-md">
        <div style="text-align: center;">
            <h1>
                {{metaData.name}}
            </h1>
            <h3>
                {{metaData.symbol}}
            </h3>
            <h3>
                ${{lastSharePrice}}
            </h3>
        </div>
        <div class="card" style="text-align: center; max-width: 500px; margin: 20px auto;">
            <h5 class="card-header">
                What Price We Are Buying At
            <h2 class="card-body">
                ${{ourPrice}}
            </h2>
        </div>
    </div>
    
    <div class="table-responsive container-fluid">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                {% for header in tableData.header %}
                    <th scope="col">{{header}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in tableData %}
                    {% if forloop.first %}
                    {% else %}
                        <tr>
                            {% for data in row %}
                                {% if forloop.first %}
                                {% else %}
                                    {% for line in data %}
                                        {% if forloop.first %}
                                            <th scope="row">{{line}}</th>
                                        {% else %}
                                            <td>
                                                {{line}}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-md">
        <div class="row">
            <div class="card col" style="text-align: justify;">
                <h5 class="card-header">
                    {{metaData.subindustry}}
                <h5 class="card-body" style="font-size: 14px;">
                        {{metaData.description}}
                </h5>
            </div>
        </div>
    </div>

{% endblock %}