{% layout 'layout.liquid' %}

{% block content %}

    <div class="row">
        {% if showAdd == true %}
            <a href="/title/my-stocks" class="btn btn-info" style="width: 200px; margin: 0 10px; margin-bottom: 30px;">Back to My Stocks</a>
            <form action="/title/my-stocks" method="POST" style="width: fit-content;" >
                <fieldset class="hidden">
                    <input type="text" class="form-control" name="name" value="{{metaData.name}}">
                    <input type="text" class="form-control" name="symbol" value="{{metaData.symbol}}">
                    <input type="number" class="form-control" name="lastPriceViewed" value="{{lastSharePrice}}">
                    <input type="number" class="form-control" name="ourBuyPrice" value="{{ourPrice}}">
                    <input type="text" class="form-control" name="subindustry" value="{{metaData.subindustry}}">
                </fieldset>
                <input type="submit" class="btn btn-secondary" value="Add stock to My Stocks">
            </form>
        {% else %}
            <a href="/title/my-stocks" class="btn btn-info" style="width: 200px; margin: 0 10px; margin-bottom: 30px;">Back to My Stocks</a>
        {% endif %}
        
    </div>

    <div class="container-md">
        <div style="text-align: center; text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">
            <h1>
                {{metaData.name}}
            </h1>
            <h3>
                {{metaData.symbol}}
            </h3>
            <h3>
                Current Price: {{lastSharePrice}}
            </h3>
        </div>
        <div class="card" style="text-align: center; max-width: 500px; margin: 20px auto;">
            <h5 class="card-header" style="white-space: nowrap;">
                What Price We Are Buying At
            <h2 class="card-body">
                ${{ourPrice}}
            </h2>
        </div>
    </div>
    
    <div class="table-responsive container-fluid" style="border-radius: 60px; border: 2px rgb(69, 209, 247) solid; border-bottom: 0; padding: 0;">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                {% for header in tableData.header %}
                    <th scope="col">{{header}}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for row in tableData %}
                    {% if forloop.first %}
                    {% else %}
                        <tr class="table-dark">
                            {% for data in row %}
                                {% if forloop.first %}
                                {% else %}
                                    {% for line in data %}
                                        {% if forloop.first %}
                                            <th scope="row">{{line}}</th>
                                        {% else %}
                                            <td>
                                                {{line}}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-md">
        <div class="row">
            <div class="card col" style="text-align: justify;">
                <h5 class="card-header">
                    {{metaData.subindustry}}
                <h5 class="card-body" style="font-size: 14px;">
                    {{metaData.description}}
                </h5>
            </div>
        </div>
    </div>

{% endblock %}